<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css' />
<link rel="stylesheet" href="css/home.css">
<style>

</style>
</head>

<body>
	<div class="day-component" th:fragment="monthDay">
		<div class="day-name" th:text="${dayNumber}"></div>	
		<div class="event">Nazwa wydarzenia</div>
	</div>
	
	<div class="day-component non-active" th:fragment="monthDayNonActive">
		<div class="day-name" th:text="${dayNumber}"></div>	
		<div class="event">Nazwa wydarzenia</div>
	</div>
</body>
</html>