<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
		<div class="container">
			<div class="navbar-header">
				<a id="anchorActualMonth" style="margin-right: 50px;" class="navbar-brand" href="/home">Actual Month</a>
				<button id="btnSpeechRecognitionStart" class="btn btn-small btn-primary"data-toggle="modal" data-target="#modalSpeechRecognition">Recognition</button>
			</div>
			
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">			
					<li>
						<a th:href="@{/logout}">
							<span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout
							<span th:text="${username}"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>