<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
	<script type="text/javascript" src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>

<title>Speech calendar</title>
</head>

<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		<h3>
			Welcome in speech recognition system <span th:text="${username}"></span>
		</h3>
		<div class="calendar">
			<div class="year-month">
				<a id="anchorPreviousMonth" th:href="@{/home(date=${#dates.format(date, 'yyyy')} + '-' + ${#dates.format(date, 'MM')}, previousOrNext='previousMonth')}" class="btn btn-primary previous-button">Previous month</a>
				<a id="anchorPreviousYear" th:href="@{/home(date=${#dates.format(date, 'yyyy')} + '-' + ${#dates.format(date, 'MM')}, previousOrNext='previousYear')}" class="btn btn-primary previous-button">Previous year</a>
				<span th:text="${#dates.format(date, 'yyyy')} + ' - ' + ${#dates.format(date, 'MM')}"></span>
				<a id="anchorNextMonth" th:href="@{/home(date=${#dates.format(date, 'yyyy')} + '-' + ${#dates.format(date, 'MM')}, previousOrNext='nextMonth')}" class="btn btn-primary next-button">Next month</a>
				<a id="anchorNextYear" th:href="@{/home(date=${#dates.format(date, 'yyyy')} + '-' + ${#dates.format(date, 'MM')}, previousOrNext='nextYear')}" class="btn btn-primary next-button">Next year</a>
			</div>
			<div class="week">
				<div class="week-day">Monday</div>
				<div class="week-day">Tuesday</div>
				<div class="week-day">Wednesday</div>
				<div class="week-day">Thursday</div>
				<div class="week-day">Friday</div>
				<div class="week-day">Saturday</div>
				<div class="week-day">Sunday</div>
			</div>
			
			<div>	
				<div class = "days-display" th:if="${missDivs > 0}" th:each="i : ${#numbers.sequence(1, __${missDivs}__)}">
					<div th:replace="fragments/monthDay :: monthDayNonActive"></div>
				</div>
				<div class = "days-display" th:each="day : ${dayList}" >
					<div th:replace="fragments/monthDay :: monthDay(day=${day})"></div>
				</div>
			</div>
		</div>
		
	  <div class="modal fade" id="modalNewEvent" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h3 id="new-event-modal" class="modal-title">New event</h3>
	        </div>
	        <div class="modal-body">
			<form method="POST" th:action="@{/addEvent}" th:object="${eventForm}">
				<input id="date-picker" type="date" th:field="*{date}" placeholder="Date" />
				<input type="time" th:field="*{time}" placeholder="Time" />
				<input id="message-input" type="text" th:field="*{message}" placeholder="Message" /> <br>
				<button class="btn btn-large btn-primary" type="submit">Add event</button>
			</form>
	        </div>
	      </div>	      
	    </div>
	  </div>
	  
	  <div class="modal fade" id="modalSpeechRecognition" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" id="btnSpeechClose" class="close" data-dismiss="modal">&times;</button>
	          <h3 style="text-align: center" id="new-event-modal" class="modal-title">Give a command</h3>
	        </div>
	        <div class="modal-body">
	          <div id="img-microphone">
	            <img src="../img/microphone.png">
	          </div>
	          <h3 id="diagnostic-text"></h3>
	          <h4 id="try-again"></h4>
	        </div>
	      </div>	      
	    </div>
	  </div>
		
	  <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
