<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
	<script type="text/javascript" src="js/script.js"></script>
    <title>Speech color changer</title>
  </head>

  <body class="main-background">
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<h2>Welcome in Speech Recognition Calendar</h2>
			<form method="POST" th:action="@{/processLogin}" th:object="${loginForm}">
				<input type="text" th:field="*{username}" placeholder="Login" />
				<input type="password" th:field="*{password}" placeholder="Password" />
				<button class="btn btn-large btn-primary" type="submit">Enter system</button>
			</form>
			<h5><a th:href=@{/register}>Don't have an account? Go and register!</a></h5>
			
			<div class="alert alert-danger" th:if="${errorLogin}"><strong>Error!</strong> Invalid username or password!</div>
			
		</div>
	</div>
  </body>
</html>
