<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title>Speech color changer</title>
<script type="text/javascript" th:src="@{script.js}"></script>
<link rel="stylesheet" th:src="@{style.css}">
</head>

<body>
	<h3>You are inside speech recognition system</h3>

</body>
</html>
