<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Speech color changer</title>
	<script type="text/javascript" th:src="@{script.js}"></script>
    <link rel="stylesheet" th:src="@{style.css}">
  </head>

  <body>
	<form method="POST" th:action="@{/login}" th:object="${loginForm}">
		<h3>Logowanie</h3>
		<input type="text" th:field="*{username}" placeholder="Login" />
		<input type="password" th:field="*{password}" placeholder="Password" />
		<button class="btn btn-large btn-primary" type="submit">Enter system</button>
	</form>
  </body>
</html>
