<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Speech color changer</title>
	<script type="text/javascript" th:src="@{script.js}"></script>
    <link rel="stylesheet" th:src="@{styles/home.css}">
  </head>

  <body background="../static/img/home-background.jpg">
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<h2>Welcome in Speech Recognition Calendar</h2>
			<form method="POST" th:action="@{/register}" th:object="${registerForm}">
				<input type="text" th:field="*{username}" placeholder="Login" />
				<input type="password" th:field="*{password}" placeholder="Password" />
				<input type="password" th:field="*{repeatPassword}" placeholder="Repeat password"/>
				<button class="btn btn-large btn-primary" type="submit">Register</button>
			</form>
			<h5><a th:href=@{/}>Main page</a></h5>
		</div>
	</div>
  </body>
</html>
